---
- name: Symlink dotfiles/niri to ~/.config/niri
  ansible.builtin.file:
    src: "{{ dotfiles_path }}/niri"
    dest: "/home/{{ user }}/.config/niri"
    state: link
    follow: false
    owner: "{{ user }}"
    group: "{{ user }}"

- name: niri is installed
  ansible.builtin.package:
    name: niri
    state: present

- name: nautilus is installed
  ansible.builtin.package:
    name: nautilus
    state: present

- name: pulseaudio controls are installed
  ansible.builtin.package:
    name:
      - pavucontrol
      - pulseaudio-utils
    state: present

- name: waybar is installed and configured
  ansible.builtin.include_tasks: waybar.yml

# TODO:
#   - swayidle
#   - wallpaper
#   - focus ring graient?
#   - open presentation kitty window on main monitor maximized (workspace 2?)
#   - decide wofi or fuzzel
#     - emoji picker
#   - wayscriber
#     - screenshots workflow
#     - how to zoom
#     - presenter mode by default
#   - Screenshare
#     - Retry xdg-desktop-portal-gnome with https://github.com/niri-wm/niri/issues/2223 and nvidia
#     - OBS for fun and profit
#   - workflow
#     - Kitty
#       - Split vs two instances
#         - Two instances allow tab switching on each instance
#           - two instances: gemini/servera on different tabs | slides/pnpm dev on different tabs
#             - Can mix/match
#             - Easier to switch (Win+ instead of Ctrl+Alt+)
#             - Able to have more than 2 "splits"
#             - Con: Workflow not replicable on Traditional DEs
#             - Con: New instances always open to ~
#             - Leaning toward this one
#           - vs
#           - kitty split: (gemini | slides) on a tab / (pnpm | servera) on a tab
#             - Con: Limited to two splits
#             - Con: More rigiid (both splits grouped on a tab)
#             - New splits open in same directory


#- name: wofi is installed and configured
#  ansible.builtin.include_tasks: wofi.yml

# I would like to use xdg-desktop-portal-gnome to use some
# of Niri's fancy screensharing features, but there is a
# bug in Zoom 6.7.5 that causes Zoom's PipeWire consumer node
# to "register zero accepted formats because Zoom calls
# pw_stream_connect/pw_stream_set_active from a wrong thread context"
# If I want to improve on this later, I could try using OBS to
# capture the gnome portal (with Niri fancy features) and output
# to a V4L2 loopback device. Zoom will see this as a camera source
# which uses different mechanisms inside of zoom and should work
# more reliably. If going this route, use pipewire-v4l2 instead
# of the old DKMS module. 
# I have [a plan to impelent this](roles/niri/teaching_with_niri_and_obs.md).

- name: wlr portal is configured for zoom screensharing
  block:
    - name: xdg-desktop-portal-wlr is installed
      ansible.builtin.package:
        name: xdg-desktop-portal-wlr
        state: present
      become: true
      notify: restart xdg-desktop-portal

    - name: parent directory for portals.conf exists
      ansible.builtin.file:
        path: "/home/{{ user }}/.config/xdg-desktop-portal"
        state: directory
        owner: "{{ user }}"
        group: "{{ user }}"
        mode: 0755

    - name: portal priority is configured for wlr
      ansible.builtin.copy:
        dest: "/home/{{ user }}/.config/xdg-desktop-portal/portals.conf"
        content: |
          [preferred]
          default=wlr;gtk;
        owner: "{{ user }}"
        group: "{{ user }}"
        mode: 0644
      notify: restart xdg-desktop-portal

- name: autostart niri when logging into TTY1
  blockinfile:
    path: "/home/{{ user }}/.bash_profile"
    owner: "{{ user }}"
    group: "{{ user }}"
    mode: 0644
    marker: "# {mark} ANSIBLE MANAGED BLOCK: autostart hyprland"
    block: |
      if [ -z "$WAYLAND_DISPLAY" ] && [ -z "$DISPLAY" ] && [ "$(tty)" = "/dev/tty1" ]; then
          exec niri-session -l
      fi

