---
- name: Symlink dotfiles/niri to ~/.config/niri
  ansible.builtin.file:
    src: "{{ dotfiles_path }}/niri"
    dest: "/home/{{ user }}/.config/niri"
    state: link
    follow: false
    owner: "{{ user }}"
    group: "{{ user }}"

#- name: symlink for machine-specific.conf exists
#  ansible.builtin.file:
#    src: "/home/{{ user }}/.config/hypr/{{ ansible_facts['hostname'] }}.conf"
#    dest: "/home/{{ user }}/.config/hypr/machine-specific.conf"
#    state: link
#    follow: false

- name: niri is installed
  ansible.builtin.package:
    name: niri
    state: present

#- name: hyprpaper is installed
#  ansible.builtin.package:
#    name: hyprpaper
#    state: present
#
#- name: hypridle is installed
#  ansible.builtin.package:
#    name: hypridle
#    state: present

- name: pavucontrol is installed
  ansible.builtin.package:
    name: pavucontrol
    state: present

- name: waybar is installed and configured
  ansible.builtin.include_tasks: waybar.yml

#- name: wofi is installed and configured
#  ansible.builtin.include_tasks: wofi.yml

- name: wlr portal is configured for zoom screensharing
  block:
    - name: xdg-desktop-portal-wlr is installed
      ansible.builtin.package:
        name: xdg-desktop-portal-wlr
        state: present
      become: true
      notify: restart xdg-desktop-portal

    - name: parent directory for portals.conf exists
      ansible.builtin.file:
        path: "/home/{{ user }}/.config/xdg-desktop-portal"
        state: directory
        owner: "{{ user }}"
        group: "{{ user }}"
        mode: 0755

    - name: portal priority is configured for wlr
      ansible.builtin.copy:
        dest: "/home/{{ user }}/.config/xdg-desktop-portal/portals.conf"
        content: |
          [preferred]
          default=wlr;gtk;
        owner: "{{ user }}"
        group: "{{ user }}"
        mode: 0644
      notify: restart xdg-desktop-portal

- name: autostart hyprland
  blockinfile:
    path: "/home/{{ user }}/.bash_profile"
    owner: "{{ user }}"
    group: "{{ user }}"
    mode: 0644
    marker: "# {mark} ANSIBLE MANAGED BLOCK: autostart hyprland"
    block: |
      if [ -z "$WAYLAND_DISPLAY" ] && [ -z "$DISPLAY" ] && [ "$(tty)" = "/dev/tty1" ]; then
          exec niri-session
      fi

