---
- name: Symlink dotfiles/hypr to ~/.config/hypr
  ansible.builtin.file:
    src: "{{ dotfiles_path }}/hypr"
    dest: "/home/{{ user }}/.config/hypr"
    state: link
    follow: false
    owner: "{{ user }}"
    group: "{{ user }}"

- name: symlink for machine-specific.conf exists
  ansible.builtin.file:
    src: "/home/{{ user }}/.config/hypr/{{ ansible_facts['hostname'] }}.conf"
    dest: "/home/{{ user }}/.config/hypr/machine-specific.conf"
    state: link
    follow: false
    owner: "{{ user }}"
    group: "{{ user }}"

- name: enable solopasha/hyprland copr
  community.general.copr:
    name: solopasha/hyprland
    state: enabled

- name: hyprland is installed
  ansible.builtin.package:
    name: hyprland
    state: present

- name: hyprpaper is installed
  ansible.builtin.package:
    name: hyprpaper
    state: present

- name: hypridle is installed
  ansible.builtin.package:
    name: hypridle
    state: present

- name: pavucontrol is installed
  ansible.builtin.package:
    name: pavucontrol
    state: present

- name: wofi is installed and configured
  ansible.builtin.include_tasks: wofi.yml

- name: waybar is installed and configured
  ansible.builtin.include_tasks: waybar.yml

