- name: hasicorp repository is configured
  block:
    - name: hasicorp repository key is installed
      ansible.builtin.rpm_key:
        key: https://rpm.releases.hashicorp.com/gpg
        fingerprint: 798aec654e5c15428c8e42eeaa16fcbca621e701
        state: present

    - name: hasicorp repository is enabled
      ansible.builtin.yum_repository:
        name: hashicorp
        description: Hashicorp Stable - $basearch
        baseurl: https://rpm.releases.hashicorp.com/fedora/$releasever/$basearch/stable
        enabled: true
        gpgcheck: true
        repo_gpgcheck: true
        gpgkey: https://rpm.releases.hashicorp.com/gpg

- name: terraform is installed
  ansible.builtin.package:
    name: terraform
    state: present

- name: vagrant is installed
  ansible.builtin.package:
    name: vagrant
    state: present
  notify: install vagrant-libvirt plugin

- name: vagrant-libvirt is installed
  ansible.builtin.package:
    name: vagrant-libvirt
    state: present
  notify: install vagrant-libvirt plugin
