[Unit]
Description=dnf5 makecache (user)

[Timer]
OnCalendar=*-*-* 0/4:00:00
Persistent=true
RandomizedDelaySec=300

[Install]
WantedBy=timers.target
