---
- name: configure vscode repository
  block:
    - name: vscode repository key is installed
      ansible.builtin.rpm_key:
        key: https://packages.microsoft.com/keys/microsoft.asc
        state: present

    - name: vscode repository is enabled
      ansible.builtin.yum_repository:
        name: vscode
        description: Visual Studio Code
        baseurl: https://packages.microsoft.com/yumrepos/vscode
        enabled: true
        gpgcheck: true
        repo_gpgcheck: true
        gpgkey: https://packages.microsoft.com/keys/microsoft.asc

- name: vscode is installed
  ansible.builtin.package:
    name: code
    state: present

- name: vscode-insiders is installed
  ansible.builtin.package:
    name: code-insiders
    state: present
