[Unit]
Description=Karakeep Headless Chrome
After=network-online.target

[Container]
AutoUpdate=registry
ContainerName=chrome
Image=gcr.io/zenika-hub/alpine-chrome:123
Network=karakeep.network
Exec=--no-sandbox --disable-gpu --disable-dev-shm-usage --remote-debugging-address=0.0.0.0 --remote-debugging-port=9222 --hide-scrollbars

[Service]
Restart=always
