services:
  web:
    image: ghcr.io/karakeep-app/karakeep:{{ karakeep_version }}
    restart: unless-stopped
    ports:
      - "{{ karakeep_port }}:3000"
    env_file:
      - {{ karakeep_secrets_file }}
    volumes:
      - {{ karakeep_data_root }}/karakeep_data:/data
    environment:
      - NEXTAUTH_URL={{ karakeep_url }}
      - MEILI_ADDR=http://meilisearch:7700
      - BROWSER_WEB_URL=http://chrome:9222
      - DATA_DIR=/data
    depends_on:
      - meilisearch
      - chrome

  meilisearch:
    image: getmeili/meilisearch:{{ meilisearch_version }}
    restart: unless-stopped
    env_file:
      - {{ karakeep_secrets_file }}
    environment:
      - MEILI_NO_ANALYTICS=true
    volumes:
      - {{ karakeep_data_root }}/meilisearch_data:/meili_data

  chrome:
    image: gcr.io/zenika-hub/alpine-chrome:{{ chrome_version }}
    restart: unless-stopped
    command:
      - --no-sandbox
      - --disable-gpu
      - --disable-dev-shm-usage
      - --remote-debugging-address=0.0.0.0
      - --remote-debugging-port=9222
      - --hide-scrollbars

