[Unit]
Description=Karakeep Main Application
After=network-online.target meilisearch.service chrome.service
Requires=meilisearch.service chrome.service

[Container]
AutoUpdate=registry
ContainerName=karakeep
Image=ghcr.io/karakeep-app/karakeep:release
Network=karakeep.network
Volume={{ karakeep_data_dir }}/karakeep_data:/data:Z
PublishPort={{ karakeep_port }}:3000

# Environment Configuration
Environment=MEILI_ADDR=http://meilisearch:7700
Environment=BROWSER_WEB_URL=http://chrome:9222
Environment=NEXTAUTH_URL=http://{{ ansible_facts['fqdn'] }}:{{ karakeep_port }}
Environment=NEXTAUTH_SECRET={{ karakeep_nextauth_secret }}
Environment=OPENAI_API_KEY={{ karakeep_openai_key }}

[Service]
Restart=always
# Optional: Wait for MeiliSearch to actually be ready before starting app logic
# ExecStartPre=/usr/bin/sleep 5
