---
- name: remove gromit-mpx dotfiles
  block:
    - name: find all files in dotfiles/gromit-mpx
      ansible.builtin.find:
        paths: "{{ dotfiles_path }}/gromit-mpx"
        hidden: true
      register: gromit_mpx_dotfiles

    - name: remove gromit-mpx dotfiles from home directory
      ansible.builtin.file:
        path: "/home/{{ user }}/.config/{{ item.path | basename }}"
        state: absent
      loop: "{{ gromit_mpx_dotfiles.files }}"
      loop_control:
        label: "Removing {{ item.path | basename }}"

- name: gromit-mpx is uninstalled
  ansible.builtin.package:
    name: gromit-mpx
    state: absent

- name: remove autostart for gromit-mpx
  ansible.builtin.file:
    path: /home/{{ user }}/.config/autostart/gromit-mpx.desktop
    state: absent
