---
# Special handling for gromit-mpx dotfiles because they go 
# into the ~/.config directory instead of ~/.config/gromit-mpx/
- name: install gromit-mpx dotfiles
  block:
    - name: find all files in dotfiles/gromit-mpx
      ansible.builtin.find:
        paths: "{{ dotfiles_path }}/gromit-mpx"
        hidden: true
      register: gromit_mpx_dotfiles

    - name: symlink gromit-mpx dotfiles to home directory
      ansible.builtin.file:
        src: "{{ item.path }}"
        dest: "/home/{{ user }}/.config/{{ item.path | basename }}"
        state: link
        follow: false
        owner: "{{ user }}"
        group: "{{ user }}"
      loop: "{{ gromit_mpx_dotfiles.files }}"
      loop_control:
        label: "Symlinking {{ item.path | basename }}"

- name: gromit-mpx is installed
  ansible.builtin.package:
    name: gromit-mpx
    state: present

- name: autostart gromit-mpx
  ansible.builtin.copy:
    src: gromit-mpx.desktop
    dest: /home/{{ user }}/.config/autostart/gromit-mpx.desktop
    owner: "{{ user }}"
    group: "{{ user }}"
    mode: 0644

