---
# Some GUI programs are configured to autostart using ~/.config/autostart
- name: autostart directory exists
  ansible.builtin.file:
    path: /home/{{ user }}/.config/autostart
    state: directory
    owner: "{{ user }}"
    group: "{{ user }}"
    mode: 0755

- name: flatpak is installed and flathub is configured
  ansible.builtin.include_tasks: flathub.yml

- name: firefox flatpak is installed
  community.general.flatpak:
    name: org.mozilla.firefox

- name: google-chrome is installed
  ansible.builtin.include_tasks: google_chrome.yml

- name: kitty is installed and configured
  ansible.builtin.include_tasks: kitty.yml

- name: bluetooth is installed
  ansible.builtin.include_tasks: bluetooth.yml

- name: zoom is installed
  ansible.builtin.include_tasks: zoom.yml

- name: gromit-mpx is installed and configured
  ansible.builtin.include_tasks: gromit_mpx.yml

- name: vscode and vscode-insiders are installed
  ansible.builtin.include_tasks: vscode.yml

- name: install google antigravity
  ansible.builtin.include_tasks: antigravity.yml

- name: print packages are installed
  ansible.builtin.include_tasks: printer.yml

- name: document scanning software is installed
  ansible.builtin.package:
    name: simple-scan
    state: presetn

- name: mouse configuration software is installed
  ansible.builtin.package:
    name: piper
    state: presetn

- name: install bittorrent client
  ansible.builtin.package:
    name: qbittorrent
    state: present
