---
- name: nodesource repository is configured
  block:
    - name: nodesource repository key is installed
      ansible.builtin.rpm_key:
        key: https://rpm.nodesource.com/gpgkey/ns-operations-public.key
        fingerprint: 242b813831af09562b6c46f76b88da4e3af28a14
        state: present

    - name: nodesource-node.js repository is enabled
      ansible.builtin.yum_repository:
        name: nodesource-nodejs
        description: Node.js Packages for Linux RPM based distros
        baseurl: https://rpm.nodesource.com/pub_{{ node_version }}/nodistro/nodejs/x86_64
        enabled: true
        gpgcheck: true
        priority: 10
        gpgkey: https://rpm.nodesource.com/gpgkey/ns-operations-public.key
        skip_if_unavailable: true

- name: nodejs is installed
  ansible.builtin.package:
    name: nodejs
    state: present

- name: pnmp is installed
  community.general.npm:
    name: pnpm
    global: true
    state: present

