#window {
    font-family: "M+1Code Nerd Font Mono";
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0.95);
    border: 4px solid transparent;
    border-image: linear-gradient(45deg, rgba(51, 204, 255, 0.933), rgba(0, 255, 153, 0.933)) 1;
}

#input {
    color: #000000;
    background-color: transparent;
    border-bottom: 2px solid transparent;
    border-image-source: linear-gradient(45deg, rgba(51, 204, 255, 0.933), rgba(0, 255, 153, 0.933));
    border-image-slice: 0 0 1 0;
    padding: 15px;
}

#entry {
    color: #000000;
    background-color: transparent;
    border-bottom: 1px solid #f0f0f0;
    padding: 10px;
}

#entry:selected {
    background-color: transparent;
    border: 4px solid transparent;
    border-image: linear-gradient(45deg, rgba(51, 204, 255, 0.933), rgba(0, 255, 153, 0.933)) 1;
}

#text:selected {
    color: #000000;
}
