[Unit]
Description=Ansible Pull Workstation Configuration
Documentation={{ homelab_ansible_repo_url }}
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=root
WorkingDirectory={{ playbook_path }}
ExecStart=/bin/bash -c "{{ ansible_pull_path }} \
    --limit localhost \
    --accept-host-key \
    --directory {{ playbook_path }} \
    --url {{ homelab_ansible_repo_git }} \
    --diff \
    --verbose \
    {{ ansible_hostname }}.yml \
    2>&1 | tee /var/log/ansible-pull/ansible-pull-$(date --iso-8601='minutes').log"

[Install]
WantedBy=multi-user.target
