[Unit]
Description=Ansible Pull Workstation Configuration
Documentation={{ homelab_ansible_repo_url }}
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=root
EnvironmentFile=-/run/ansible-pull.env
ExecStartPre=-/bin/bash -c "echo PRE_NUM=$(snapper create --type pre --print-number --description 'Before ansible-pull') > /run/ansible-pull.env"
WorkingDirectory={{ playbook_path }}
Environment="PYTHONUNBUFFERED=True"
ExecStart=/bin/bash -c "{{ ansible_pull_path }} \
    --limit localhost \
    --accept-host-key \
    --directory {{ playbook_path }} \
    --url {{ homelab_ansible_repo_git }} \
    --diff \
    --verbose \
    {{ ansible_facts['hostname'] }}.yml \
    2>&1 | tee /var/log/ansible-pull/ansible-pull-$(date --iso-8601='minutes').log"
ExecStartPost=-/bin/bash -c "snapper create --type post --pre-number $PRE_NUM --description 'After ansible-pull' && rm -f /run/ansible-pull.env"

[Install]
WantedBy=multi-user.target
