[Unit]
Description=Run Ansible Pull Daily
Documentation={{ homelab_ansible_repo_url }}
Requires=ansible-pull.service

[Timer]
OnCalendar=*-*-* 03:00:00
Persistent=true
RandomizedDelaySec=600

[Install]
WantedBy=timers.target