---
- name: virtualization package group is installed
  ansible.builtin.package:
    name: "@virtualization"
    state: present

- name: user {{ user }} is in the libvirt group
  ansible.builtin.user:
    name: "{{ user }}"
    groups: libvirt
    append: true

- name: images directory exists
  ansible.builtin.file:
    path: /var/lib/libvirt/images
    state: directory
    owner: root
    group: wheel
    mode: 0775

- name: isos directory exists
  ansible.builtin.file:
    path: /var/lib/libvirt/images/isos
    state: directory
    owner: root
    group: wheel
    mode: 0775

- name: start and enable libvirtd
  ansible.builtin.service:
    name: libvirtd
    state: started
    enabled: true

