---
- name: virtualization package group is installed
  ansible.builtin.package:
    name: "@virtualization"
    state: present

- name: user {{ user }} is in the libvirt group
  ansible.builtin.user:
    name: "{{ user }}"
    groups: libvirt
    append: true

- name: images directory exists
  ansible.builtin.file:
    path: /var/lib/libvirt/images
    state: directory
    owner: root
    group: wheel
    mode: 0775

- name: isos directory exists
  ansible.builtin.file:
    path: /var/lib/libvirt/images/isos
    state: directory
    owner: root
    group: wheel
    mode: 0775

- name: start and enable libvirtd
  ansible.builtin.service:
    name: libvirtd
    state: started
    enabled: true

- name: virtio-win repository is enabled
  ansible.builtin.yum_repository:
    name: virtio-win-latest
    description: VirtIO Drivers for Windows
    baseurl: https://fedorapeople.org/groups/virt/virtio-win/repo/latest
    enabled: true
    gpgcheck: false
    repo_gpgcheck: false
    skip_if_unavailable: true

- name: install virtio-win (will be saved to /usr/share/virtio-win/)
  ansible.builtin.package:
    name: virtio-win
    state: present
