---
- name: images directory exists
  ansible.builtin.file:
    path: /var/lib/libvirt/images
    state: directory
    owner: root
    group: wheel
    mode: 0775

- name: images storage pool is defined
  community.libvirt.virt_pool:
    command: define
    name: images
    xml: |
      <pool type='dir'>
        <name>images</name>
        <target>
          <path>/var/lib/libvirt/images</path>
        </target>
      </pool>

- name: images storage pool is active
  community.libvirt.virt_pool:
    name: images
    state: active

- name: images storage pool will autostart
  community.libvirt.virt_pool:
    name: images
    autostart: true

- name: isos directory exists
  ansible.builtin.file:
    path: /var/lib/libvirt/isos
    state: directory
    owner: root
    group: wheel
    mode: 0775

- name: isos storage pool is defined
  community.libvirt.virt_pool:
    command: define
    name: isos
    xml: |
      <pool type='dir'>
        <name>isos</name>
        <target>
          <path>/var/lib/libvirt/isos</path>
        </target>
      </pool>

- name: isos storage pool is active
  community.libvirt.virt_pool:
    name: isos
    state: active

- name: isos storage pool will autostart
  community.libvirt.virt_pool:
    name: isos
    autostart: true
