---
- name: configure tailscale repository
  block:
    - name: tailscale repository key is installed
      ansible.builtin.rpm_key:
        key: https://pkgs.tailscale.com/stable/fedora/repo.gpg
        fingerprint: 2596a99eaab33821893c0a79458ca832957f5868
        state: present

    - name: tailscale repository is enabled
      ansible.builtin.yum_repository:
        name: tailscale-stable
        description: Tailscale stable
        baseurl: https://pkgs.tailscale.com/stable/fedora/$basearch/
        enabled: true
        gpgcheck: true
        repo_gpgcheck: true
        gpgkey: https://pkgs.tailscale.com/stable/fedora/repo.gpg
        skip_if_unavailable: true

- name: tailscale is installed
  ansible.builtin.package:
    name: tailscale
    state: present
  notify: tailscale install instructions

- name: tailscald is started and enabled
  ansible.builtin.service:
    name: tailscaled.service
    state: started
    enabled: true
