---
- name: python3-dnf is installed
  ansible.builtin.package:
    name: python3-dnf
    state: present

- name: enable heroic-games-launcher copr
  community.general.copr:
    name: atim/heroic-games-launcher
    state: enabled

- name: heroic-games-launcher is installed
  ansible.builtin.package:
    name:
      - wine
      - heroic-games-launcher-bin
    state: present

- name: steam is installed
  ansible.builtin.package:
    name: steam
    state: present
