---
- name: network share group exists with the correct gid
  ansible.builtin.group:
    name: "{{ network_share_group }}"
    gid: "{{ network_share_gid }}"
    state: present

- name: user is in the network share group
  ansible.builtin.user:
    name: "{{ user }}"
    groups: "{{ network_share_group }}"
    append: true

- name: cifs-utils is installed
  ansible.builtin.package:
    name: cifs-utils
    state: present

- name: mount points exists
  ansible.builtin.file:
    path: /srv/{{ item.share }}
    state: directory
    mode: 0775
  loop: "{{ samba_mounts }}"
  loop_control:
    label: /srv/{{ item.share }}

- name: automount configured for samba shares
  ansible.posix.mount:
    path: /srv/{{ item.share }}
    src: //{{ item.server }}/{{ item.share }}
    fstype: cifs
    boot: false
    opts: x-systemd.device-timeout=10,x-systemd.automount,credentials=/root/.smbcreds,uid={{ uid }},gid={{ network_share_gid }},file_mode=0660,dir_mode=0770
    state: present
  loop: "{{ samba_mounts }}"
  notify: restart local-fs.target
  when: 
    - lookup('community.general.collection_version', 'ansible.posix') is not none
    - lookup('community.general.collection_version', 'ansible.posix') is version('1.6.2', '>=')
