window#waybar {
    background: transparent;
    font-family: 'Noto Sans', 'UbuntuMono Nerd Font', monospace;
    font-size: 16px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    background: rgba(255, 255, 255, 0.9);
    border-radius: 0.6rem;
}

#idle_inhibitor,
#workspaces,
#cffi\.niri_window_buttons,
#clock,
#battery,
#pulseaudio,
#tray,
#custom-power {
    padding: 0 14px;
}

#workspaces button {
    color: black;
    padding: 0px 10px;
    margin: 4px 2px;
    border-radius: 20px;
    border: none;
    background: transparent;
    min-width: 24px;
    transition: all 250ms ease;
}



/* * { */
/*   font-family: 'Noto Sans', 'UbuntuMono Nerd Font', monospace; */
/*   font-size: 16px; */
/*   padding: 1px 1px 0 1px; */
/* } */
/**/
/* window#waybar { */
/*   background: rgba(255, 255, 255, 0.9); */
/*   color: rgb(0, 0, 0); */
/*   border-radius: 0.6rem; */
/* } */
/**/
#workspaces button {
    padding: 0 5px;
    color: #505050;
    /* border-bottom: 6px solid #505050; */
}

#workspaces button.active {
    background: rgba(127, 200, 255, 0.2);
    /* border-bottom: 6px solid #7fc8ff; */
}

button.focused {
    background: rgba(127, 200, 255, 0.2);
    /* border-bottom: 6px solid #7fc8ff; */
}

button:not(.focused) {
    /* border-bottom: 6px solid #505050; */
}
