---
- name: enable extensions
  community.general.dconf:
    key: /org/gnome/desktop/session/idle-delay
    value: ['appindicatorsupport@rgcjonas.gmail.com']
    state: present
  changed_when: false

- name: remove screen blanking
  community.general.dconf:
    key: /org/gnome/desktop/session/idle-delay
    value: uint32 0
    state: present
  changed_when: false

- name: disable hot corners
  community.general.dconf:
    key: "/org/gnome/desktop/interface/enable-hot-corners"
    value: false

- name: show maximize and minimize buttons
  community.general.dconf:
    key: "/org/gnome/desktop/wm/preferences/button-layout"
    value: "'appmenu:minimize,maximize,close'"

- name: disable alert sounds
  community.general.dconf:
    key: "/org/gnome/desktop/sound/event-sounds"
    value: false

- name: lock screen and wallpaper settings
  block:
    - name: user specific backgrounds directory exists
      ansible.builtin.file:
        path: /home/{{ user }}/.local/share/backgrounds
        state: directory
        owner: "{{ user }}"
        group: "{{ user }}"
        mode: 0755

    - name: workstation-wallpaper file exists
      ansible.builtin.copy:
        src: cosmicdawn1080p.jpg
        dest: /home/{{ user }}/.local/share/backgrounds/workstation-wallpaper.jpg
        owner: "{{ user }}"
        group: "{{ user }}"
        mode: 0644

    - name: workstation-wallpaper-dark file exists
      ansible.builtin.copy:
        src: crucibleplanet1080p.jpg
        dest: /home/{{ user }}/.local/share/backgrounds/workstation-wallpaper-dark.jpg
        owner: "{{ user }}"
        group: "{{ user }}"
        mode: 0644

    - name: wallpaper is set
      community.general.dconf:
        key: "/org/gnome/desktop/background/picture-uri"
        value: "'file:///home/{{ user }}/.local/share/backgrounds/workstation-wallpaper.jpg'"

    - name: dark wallpaper is set
      community.general.dconf:
        key: "/org/gnome/desktop/background/picture-uri-dark"
        value: "'file:///home/{{ user }}/.local/share/backgrounds/workstation-wallpaper-dark.jpg'"

- name: night light settings
  block:
    - name: night light is enabled
      community.general.dconf:
        key: "/org/gnome/settings-daemon/plugins/color/night-light-enabled"
        value: true

    - name: disable automatic scheduling
      community.general.dconf:
        key: "/org/gnome/settings-daemon/plugins/color/night-light-schedule-automatic"
        value: false

    - name: turn on night light at 8p.m.
      community.general.dconf:
        key: "/org/gnome/settings-daemon/plugins/color/night-light-schedule-from"
        value: 20.0

    - name: turn off night light at 4a.m.
      community.general.dconf:
        key: "/org/gnome/settings-daemon/plugins/color/night-light-schedule-to"
        value: 4.0

- name: file explorer (Nautilus / Files) settings
  block:
    - name: list view in files
      community.general.dconf:
        key: /org/gnome/nautilus/preferences/default-folder-viewer
        value: "'list-view'"
        state: present

    - name: folders before files
      community.general.dconf:
        key: /org/gtk/gtk4/settings/file-chooser/sort-directories-first
        value: true
        state: present

- name: keyboard shortcuts
  block:
    - name: switch to workspace to the right
      community.general.dconf:
        key: "/org/gnome/desktop/wm/keybindings/switch-to-workspace-right"
        value: ["<Control><Super>Right"]

    - name: switch to workspace to the left
      community.general.dconf:
        key: "/org/gnome/desktop/wm/keybindings/switch-to-workspace-left"
        value: ["<Control><Super>Left"]

    - name: move window to left workspace
      community.general.dconf:
        key: "/org/gnome/desktop/wm/keybindings/move-to-workspace-left"
        value: ["<Shift><Control><Super>Left"]

    - name: move window to right workspace
      community.general.dconf:
        key: "/org/gnome/desktop/wm/keybindings/move-to-workspace-right"
        value: ["<Shift><Control><Super>Right"]

