---
- name: wheel group can edit {{ playbook_path }}
  ansible.builtin.file:
    path: "{{ playbook_path }}"
    mode: u=rwX,g=rwX,o=rX
    owner: root
    group: wheel
    recurse: true

- name: Template ansible-pull systemd service
  ansible.builtin.template:
    src: ansible-pull.service.j2
    dest: /etc/systemd/system/ansible-pull.service
    mode: 0644
    owner: root
    group: root

- name: Template ansible-pull systemd timer
  ansible.builtin.template:
    src: ansible-pull.timer.j2
    dest: /etc/systemd/system/ansible-pull.timer
    mode: 0644
    owner: root
    group: root
  notify: restart ansible-pull timer

- name: ansible-pull log directory exists
  ansible.builtin.file:
    path: /var/log/ansible-pull
    state: directory
    mode: 0770
    owner: root
    group: wheel

- name: logrotate is installed
  ansible.builtin.package:
    name: logrotate
    state: present

- name: Configure log rotation for ansible-pull
  ansible.builtin.copy:
    content: |
      /var/log/ansible-pull/*.log {
          rotate 30
          maxage 30
          missingok
          notifempty
          nocompress
          nocreate
      }
    dest: /etc/logrotate.d/ansible-pull
    mode: 0640
    owner: root
    group: wheel

- name: Enable and start ansible-pull timer
  ansible.builtin.systemd_service:
    name: ansible-pull.timer
    enabled: true
    state: started
    daemon_reload: true

- name: Template homelab management script (h)
  ansible.builtin.template:
    src: h.sh.j2
    dest: /usr/local/bin/h
    mode: 0750
    owner: root
    group: wheel

- name: Template homelab management script (h) bash completion
  ansible.builtin.template:
    src: h_completion.bash.j2
    dest: /etc/bash_completion.d/h_completion.bash
    mode: 0640
    owner: root
    group: wheel

