---
- name: prerequisites are installed
  ansible.builtin.package:
    name:
      - cabextract
      - xorg-x11-font-utils
      - fontconfig
    state: present

- name: install microsoft fonts
  ansible.builtin.command:
    cmd: "rpm --nodigest -i {{ role_path }}/files/msttcore-fonts-installer-2.6-1.noarch.rpm"
    creates: /usr/share/fonts/msttcore

- name: download and extract nerd fonts
  ansible.builtin.include_tasks: download_extract_fonts.yml
  loop: "{{ fonts }}"
  loop_control:
    loop_var: font

- name: install google fonts
  ansible.builtin.include_tasks: google_fonts.yml
