---
- name: /home/{{ user }}/.config directory exists
  ansible.builtin.file:
    path: /home/{{ user }}/.config
    state: directory
    mode: 0755
    owner: "{{ user }}"
    group: "{{ user }}"

- name: /home/{{ user }}/bin directory exists
  ansible.builtin.file:
    path: /home/{{ user }}/bin
    state: directory
    mode: 0750
    owner: "{{ user }}"
    group: "{{ user }}"

- name: CLI programs are installed
  ansible.builtin.package:
    name:
      - git
      - bat
      - asciinema
    state: present

- name: neovim is installed and configured
  ansible.builtin.include_tasks: neovim.yml

- name: symlink asciinema dotfiles directory
  ansible.builtin.file:
    src: "{{ dotfiles_path }}/asciinema"
    dest: /home/{{ user }}/.config/asciinema
    state: link
    follow: false
    owner: "{{ user }}"
    group: "{{ user }}"

- name: symlink ghostty dotfiles directory
  ansible.builtin.file:
    src: "{{ dotfiles_path }}/ghostty"
    dest: /home/{{ user }}/.config/ghostty
    state: link
    follow: false
    owner: "{{ user }}"
    group: "{{ user }}"

# Special handling for bash dotfiles because they go 
# into the home directory instead of ~/.config
- name: install bash dotfiles
  block:
    - name: find all files in dotfiles/bash
      ansible.builtin.find:
        paths: "{{ dotfiles_path }}/bash"
        hidden: true
      register: bash_dotfiles

    - name: symlink bash dotfiles to home directory
      ansible.builtin.file:
        src: "{{ item.path }}"
        dest: "/home/{{ user }}/{{ item.path | basename }}"
        state: link
        follow: false
        owner: "{{ user }}"
        group: "{{ user }}"
      loop: "{{ bash_dotfiles.files }}"
      loop_control:
        label: "Symlinking {{ item.path | basename }}"

- name: install and configure locate
  ansible.builtin.include_tasks: locate.yml

- name: install and configure presenterm
  ansible.builtin.include_tasks: presenterm.yml

- name: gemini is installed
  community.general.npm:
    name: "@google/gemini-cli"
    global: true
    state: latest

