---
- name: Ensure .config directory exists
  ansible.builtin.file:
    path: /home/{{ user }}/.config
    state: directory
    mode: 0755
    owner: "{{ user }}"
    group: "{{ user }}"

- name: Ensure /home/{{ user }}/bin directory exists
  ansible.builtin.file:
    path: /home/{{ user }}/bin
    state: directory
    mode: 0750
    owner: "{{ user }}"
    group: "{{ user }}"

- name: Ensure CLI programs are installed
  ansible.builtin.package:
    name:
      - git
      - bat
      - asciinema
    state: present

- name: Ensure neovim is installed and configured
  ansible.builtin.include_tasks: neovim.yml

- name: Symlink ghostty dotfiles directory
  ansible.builtin.file:
    src: "{{ dotfiles_path }}/ghostty"
    dest: /home/{{ user }}/.config/ghostty
    state: link
    follow: false
    owner: "{{ user }}"
    group: "{{ user }}"

# Special handling for bash dotfiles because they go 
# into the home directory instead of ~/.config
- name: Install bash dotfiles
  block:
    - name: Find all files in dotfiles/bash
      ansible.builtin.find:
        paths: "{{ dotfiles_path }}/bash"
        hidden: true
      register: bash_dotfiles

    - name: Symlink bash dotfiles to home directory
      ansible.builtin.file:
        src: "{{ item.path }}"
        dest: "/home/{{ user }}/{{ item.path | basename }}"
        state: link
        follow: false
        owner: "{{ user }}"
        group: "{{ user }}"
      loop: "{{ bash_dotfiles.files }}"
      loop_control:
        label: "Symlinking {{ item.path | basename }}"

- name: Ensure presenterm is installed and configured
  ansible.builtin.include_tasks: presenterm.yml

